<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/StyleSheet.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class="navbar-text navbar-left">School system </p>
      <a href={{ url_for("base") }} class="btn btn-primary"> Table</a>
      <a href={{ url_for("index") }} class="btn btn-primary"> Story Cards</a>
      <a href={{ url_for("story") }} class="btn btn-primary"> Add a new story</a>
  </div>
</nav>
<div class="container" style="padding-top: 80px">
<table id="stories">
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Story</th>
        <th>Acceptance</th>
        <th>Business Value</th>
        <th>Hours</th>
        <th>Status</th>
    </thead>
    <tbody>
    {% for story in stories %}
        <tr>
            <th>{{ story.id }}</th>
            <th>{{ story.title }}</th>
            <th>{{ story.story }}</th>
            <th>{{ story.acceptance }}</th>
            <th>{{ story.bvalue }}</th>
            <th>{{ story.hours }}</th>
            <th>{{ story.status }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>