<!DOCTYPE html>
<html>
<head>
    Super Sprinter 3000
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/StyleSheet.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <p class="navbar-text navbar-left">School system </p>
          <a href={{ url_for("base") }} class="btn btn-primary"> Table</a>
          <a href={{ url_for("index") }} class="btn btn-primary"> Story Cards</a>
          <a href={{ url_for("story") }} class="btn btn-primary"> Add a new story</a>
      </div>
    </nav>
    <div class="container" style="padding-top: 50px">
    {% for story in stories %}
        {% if loop.index0%3==0 %}
        <div class="row">
        {% endif %}
        <a href={{ url_for("story",param=story.id)}}>
            <div class="card col-md-4">
                <form class="form-horizontal" method="POST">
                    Story title:
                <br>
                <div class="form-group">
                    <input class="input" type="hidden" name="story" value={{ story.id }}>
                </div>
                <textarea class="second" name="story" required maxlength="100"> {{ story.title }}></textarea>
                <br>
                User Story:
                <br>
                <textarea  name="story" required maxlength="500" >{{ story.story }}</textarea>
                <br>
                Acceptance Criteria:
                <br>
                <textarea name="story" required maxlength="500" >{{ story.acceptance }}</textarea>
                <br>
                Business Value:
                <br>
                <input type="number" name="story" min="100" max="1500" step="100"  value={{ story.bvalue }}>
                <br>
                Estimation (hour):
                <br>
                <input type="number" name="story" min="0.5" max="40" step="0.5" value={{ story.hours }}>
                <br>
                <p>Status:</p>

                <select name="story" style="margin-bottom: 2px">
                      <option value="Planning">Planning</option>
                      <option value="To Do">To Do</option>
                      <option value="In Progress">In Progress</option>
                      <option value="Review">Review</option>
                      <option value="Done">Done</option>
                </select>
                <br>
                <input type="submit" name="story" value="Update">
                <input type="submit" name="story" value="Delete">
                </form>
            </div>
        </a>
        {% if loop.index%3==0  %}
            </div>
        {% endif %}
    {% endfor %}
    {% if length%3==0  %}
        <div class="row">
    {%  endif %}

    <a href={{ url_for("story") }}>
        <div class="card" >
                <img src="static/images/plus.png">
        </div>
    </a>
</div>
</body>
</html>